/* style.css for learning external method*/

div {
    background-color: red;
    color: white;
    font-size: 32px;
}
* {
    font: "Verdana", sans-serif;
}


.odd {
   background-color: #f27c97;
}

#2 {

}