/* style.css for learning external method*/

div {
    background-color: red;
    color: white;
    font-size: 32px;
}
.odd {
   background-color: #f27c97;
   font-family: Verdana, sans-serif;
}
.odd.special {
    font-size: 36px;
}
#two {
    font-size: 36px;
    color: blue;
    background-color: transparent;
}
#four {
    font-size: 24px;
    background-color: lightgreen;
    font-weight: 700;
    color: black;
}